[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gogapi = {git = "https://github.com/Yepoleb/pygogapi.git"}
vdf = {git = "https://github.com/ValvePython/vdf"}
python-resize-image = "*"
pillow = "*"

[requires]
python_version = "3.7"
